# Dependencies
node_modules/
package-lock.json

# Production & Build Outputs
dist/
dist-ssr/
build/
*.tsbuildinfo

# Environment files & Secrets
.env
.env.*
!.env.example
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary & Cache
.eslintcache
.stylelintcache
.cache/
*.tmp
